<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        <form action="add" method="POST">{%csrf_token%}
            <label>Enter your name</label>
            <input type="text" placeholder="enter your name" name="pname">

            <label>Enter your phone number</label>
            <input type="text" placeholder="enter your number" name="pnum">

            <input type="submit" value="ADD">{{message}}
        </form>
    
    <form action="show">
        <table border="1" width="50%">
            <tr>
                <th>Name</th>
                <th>Phonenumber</th>
            </tr>
            {%for i in phkey%}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.num}}</td>
            </tr>
            {%endfor%}
        </table>
        <input type="submit" value="Display">
    </form>

    <form action="del" method="post">{%csrf_token%}
        <label>Enter the name to delete</label>
        <input type="text" name="delname">

        <input type="submit" value="DELETE">{{msg1}}
    </form>

    <form action="ed" method="POST">{%csrf_token%}
        <label>Enter the name to edit</label>
        <input type="text" name="oldname">

        <label>Enter the new name</label>
        <input type="text" name="newname">

        <label>Enter the phonenumber to edit</label>
        <input type="text" name="oldnum">

        <label>Enter the new number</label>
        <input type="text" name="newnum">

        <input type="submit" value="EDIT">{{msg2}}
    </form>
    </pre>
    
</body>
</html>